.container-itv {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    background-color: white;
    height: 500px;
    width: 700px;
}
.header-itv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.word-itv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.word-itv span{
    color: green;
    background-color: gainsboro;
    border-radius: 30px;
    padding: 8px;
    font-size: 30px;
    margin-right: 20px;
}
.voice-itv{
    border-radius: 45px;
    background: gainsboro;
    padding: 8px;
}
.voice-itv img{
    height: 30px;
}
.logo-itv{
    border-radius: 30px;
    background: gainsboro;
    padding: 8px;
    align-self: flex-end
}
.logo-itv img{
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
}
.typeword-itv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.typeword-itv div{
    border-radius: 30px;
    background: gainsboro;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding: 8px;
    color: black;
}
.content-itv{
    display: flex;
    border-radius: 30px;
    background: gainsboro;
    height: 400px;
    width: 600px;
    margin: 10px;
}